<h1> Actors </h1>

<p><a href="/actors/new_form">Add a New Actor</a></p>

<table>
<thead>
<tr>
<th>Photo</th>
<th> Name </th>
<th colspan="3"> Date of Birth </th>
<th colspan="3"> Bio </th>
</tr>
</thead>

<% @list_of_actors.each do |actor| %>

<tbody>
<tr>
<td><img src=<%=actor.image_url %></td>
<td><%=actor.name %></td>
<td colspan="3"><%=actor.dob %></td>
<td colspan="3"><%=truncate(actor.bio, length: 300) %></td>

 <td><a href="http://localhost:3000/actors/<%= actor.id %>">Show</a></td>

<td><a href="http://localhost:3000/actors/<%= actor.id %>/edit">Edit</a></td>
<td><a href="http://localhost:3000/delete_actor/<%= actor.id %>">Delete</a></td>
</tr>


<% end %>
</tbody>
</table>
