<h1>Edit Director <%= @director.id %></h1>

<form action="/update_director/<%= @director.id %>">
  <input name="name" type="string" value="<%= @director.name %>">

  <input name="bio" type="text" value="<%= @director.bio %>">
  <input name="dob" type="string" value="<%= @director.dob %>">

  <input name="image_url" type="string" value="<%= @director.image_url %>">

  <button>Update Director</button>
</form>

<a href="/directors/<%= @director.id %>">Cancel and go back</a>
