<h1> Directors </h1>

<p><a href="/directors/new_form">Add a New Director</a></p>

<table>
<thead>
<tr>
<th>Photo</th>
<th> Name </th>
<th colspan="3"> Date of Birth </th>
<th colspan="3"> Bio </th>
</tr>
</thead>

<% @list_of_directors.each do |director| %>

<tbody>
<tr>
<td><img src=<%=director.image_url %></td>
<td><%=director.name %></td>
<td colspan="3"><%=director.dob %></td>
<td colspan="3"><%=truncate(director.bio, length: 300) %></td>

<td>
      <a href="http://localhost:3000/directors/<%= director.id %>">Show</a>
    </td>
    <td>
      <a href="http://localhost:3000/directors/<%= director.id %>/edit">Edit</a>
    </td>
    <td>
      <a href="http://localhost:3000/delete_director/<%= director.id %>">Delete</a>
    </td>

</tr>

<% end %>
</tbody>
</table>
